
body{
	background-color: #fff;
    background-image: url("../images/bg_general.jpg");
    background-position:center top;
	background-attachment:fixed;
    background-repeat: no-repeat;
    color: #000;
   /*font-family: "Oswald",verdana,arial;*/
	font-family:"Fjalla One",verdana,arial;
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
    padding: 0;
}

img, div{
	margin:0;
	padding:0;
	border:none 0;	
}

#wrapper{
	width:810px;
	height:auto;
	background-color:#fff;
	background-image:url(../images/bg_wrapper.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
	background-size:100% auto;
	-webkit-box-shadow: 6px 24px 92px 10px rgba(139,150,176,1);
	-moz-box-shadow: 6px 24px 92px 10px rgba(139,150,176,1);
	box-shadow: 6px 24px 92px 10px rgba(139,150,176,1);
	left: 50%;
    margin: 0 0 0 -405px;
    position: absolute;
    top: 0;
}
#cabecera, #pie{
	float:left;
	width:100%;
	height:auto;	
}
#cabecera{
	padding-bottom:10px;	
}
#cabecera img, #pie img{
	float:left;
	width:100%;	
}

.pagina{
	width:100%;
	height:auto;
	float:left;
	text-align:center;
	padding:20px 0;	
}

h1{
	font-size: 35px;
    line-height: 38px;
    margin: 0 auto 40px;
}
h2{
	font-size: 32px;
    line-height: 40px;
    margin: 0 auto 30px;
	text-transform:uppercase;
}
p{
	margin: 0 auto 35px;
    width: 90%;
	font-size: 26px;
    font-weight: 500;
    line-height: 32px;
}

.mini{
	font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 28px;	
}
.mini sup{
	font-size:15px;
}
.boton{
	border-radius: 10px;
    color: #fff;
    display: inherit;
    margin: 0 auto 20px;
    padding: 23px 0 21px;
    text-decoration: none;
    width: 260px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 24px;
    letter-spacing: 0.5px;
    border: none 0;
    font-family: "Fjalla One";
    line-height: 0;
}
.boton2{
	border-radius: 10px;
    color: #fff;
    display: inline-block;
    margin: 0 10px 20px;
    padding: 10px 0 8px;
    text-decoration: none;
    width: 260px;
	text-transform:uppercase;
	cursor:pointer;
	font-size:24px;
	letter-spacing:0.5px;
}
.rojo{
	background-color:#9b0418;
}
.azul{
	background-color:#1b3164;
}

.participap{
	margin:0 auto 10px;	
}

.compartir{
	background-image: url("../images/fb_share.jpg");
    background-position: 10px bottom;
    background-repeat: no-repeat;
    background-size: auto 90%;
    cursor: pointer;
    text-align: center;
}
.miformulario{
	width:580px;
	margin:0 auto 20px;
}
.miformulario tr{
	height:65px;
}

.miformulario td{
	text-align:left;
	vertical-align:top;
}

.miformulario .izq{
	width:130px;	
}
.miformulario .dch{
	width:450px;	
}

.miformulario input[type=text],.miformulario input[type=email]{
	width:95%;
	padding:8px 2.5%;
	font-family:"Fjalla One",verdana,arial;
    font-size: 20px;
	color:#111;
	border-radius:8px;
	border:none 0px;
	-webkit-box-shadow: inset 6px 7px 9px -7px rgba(0,0,0,0.33);
	-moz-box-shadow: inset 6px 7px 9px -7px rgba(0,0,0,0.33);
	box-shadow: inset 6px 7px 9px -7px rgba(0,0,0,0.33);
}


.error{
	border: 1px solid #9b0418 !important;
    color: #9b0418;
}

p.error{
	border: 0 none !important;
    font-size: 23px;
}

.micheck{
	cursor: pointer;
    float: left;
    margin: 9px 11px 0 17px;
}
#resalto{
	z-index:500;
	position:fixed;
	background-color: rgba(0, 0, 0, 0.2) !important;
	top:0;
	left:0;
	width:100%;
	height:100vh;
}
#ventana, #ventana2{
	z-index:1000;
	position:fixed;
	top:50%;
	left:50%;
	width:600px;
	height:auto;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	
	background-color:#fff;
	background-image:url(../images/bg_wrapper.jpg);
    background-position: center -250px;
    background-repeat: no-repeat;
	background-size:100% auto;
	-webkit-box-shadow: 6px 10px 50px 10px rgba(139,150,176,1);
	-moz-box-shadow: 6px 10px 50px 10px rgba(139,150,176,1);
	box-shadow: 6px 10px 50px 10px rgba(139,150,176,1);
	padding:50px;
}
.aspa{
	width:100%;	
	height:auto;
	float:left;
	text-align:right;
}
.aspa .cerrar{
	cursor:pointer;	
}
#ventana .contenedor, #ventana2 .contenedor{
	float: left;
    height: auto;
    left: 50%;
    position: relative;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
    width: 400px;	
}

#microp {
			width: 400px;
			height: 400px;
			position:fixed; /* or fixed or absolute */
}
#gracias, #yaparticipado{
	text-align:center;
	width: 700px !important;
}
#gracias h2, #gracias p, #yaparticipado h2, #yaparticipado p{
	margin:0 auto 30px;	
}

/*----------- galeria ---------------------- */

.galeria{
	width:700px;
	height:auto;
	float:left;
	text-align:center;
	padding:60px 60px 0px;	
}

.superior{
	width:100%;
	float:left;
	height:auto;
	padding:0 0 40px;	
}

.superior h3{
	float:left;
	text-transform:uppercase;
	font-size:25px;	
	font-weight:normal;
	margin:0;
}

.superior .buscador{
	float:right;
	width: 435px;
	padding:8px 10px;
	font-family:"Fjalla One",verdana,arial;
    font-size: 13px;
	color:#111;
	border-radius:8px;
	border:none 0px;
	-webkit-box-shadow: inset 6px 7px 9px -7px rgba(0,0,0,0.33);
	-moz-box-shadow: inset 6px 7px 9px -7px rgba(0,0,0,0.33);
	box-shadow: inset 6px 7px 9px -7px rgba(0,0,0,0.33);
	background-image:url(../images/search.jpg);
	background-position:right 2% center;
	background-repeat:no-repeat;
	background-size:auto 75%;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.superior .buscador:focus{
	background-position:right -50px center;
}

.galeria .miniaturas{
	width:100%;
	height:auto;
	float:left;
}

.item{
	cursor: pointer;
    float: left;
    height: 238px;
    margin: 0 6px 13px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 220px;
}

.item .num{
	float: left;
    font-size: 15px;
    height: 16px;
    line-height: 1;
    margin: 0;
    padding: 0 0 5px;
    text-align: right;
    width: 100%;
}

.item .imagen{
	float: left;
    height: 220px;
    position: absolute;
    top: 18px;
    width: 220px;
}

.item .imagen img{
	width:100%;
	height:100%;
	float:left;	
}

.item .texto{
	background-color: rgba(0,0,0,0.8);
    bottom: -200px;
    float: left;
    font-size: 13px;
	line-height:18px;
    height: auto;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 200px;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	color:#fff;
	
}
.item:hover .texto{
    bottom: 0px;
}

.inferior{
	width:100%;
	float:left;
	height:auto;
	padding:20px 0 0;	
}
.inferior p{
	margin:15px auto 10px !important;	
}

.footer_desktop{
	display:block;	
}
.footer_mobile{
	display:none;	
}
.textolegal{
	color: #000;
    float: none;
    font-size: 11px;
    height: 50px;
    line-height: 18px;
    margin: 0 23%;
    padding: 0;
    position: relative;
    text-align: center;
    top: -83px;
    width: 54%;
    z-index: 20;
	
}
.textolegal a{
	color:#000;	
}
#cropContainer {
    height: 400px;
    width: 400px !important;
	margin:0 0 100px;
}

.cropImgWrapper{
	height: 400px;
    left: 50%;
    overflow: hidden;
    position: relative;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
    width: 400px;
    z-index: 1;
	top:0;
}
.cropImgWrapper img, .croppedImg{
	display:block !important;
}

#cropContainer img{
	display:none;	
}
.cropControls {
    background-color: rgba(0, 0, 0, 0);
    display: block;
    height: 60px;
    left: 50%;
    position: absolute;
    top: 420px;
    -webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
    width: 542px;
    z-index: 2;

}
.cropControlRemoveCroppedImage {
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-59%);
	-ms-transform: translateX(-59%);
	transform: translateX(-59%);
}
.cropControls i.cropControlZoomIn {
    background-position: -30px 0;
    left: 238px;
    position: relative;
    top: -50px;
}
.cropControls i.cropControlZoomOut {
    background-position: -60px 0;
    left: 240px;
    position: relative;
    top: -50px;
}
#submit4 {
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-59%);
	-ms-transform: translateX(-59%);
	transform: translateX(-59%);
}
.boton3{
    border: 0 none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: "Fjalla One",verdana,arial;
    font-size: 25px;
    margin: 0 15px 20px;
    padding: 13px 0 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 180px;

}
.boton4{
    border: 0 none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: "Fjalla One",verdana,arial;
    font-size: 25px;
    margin: 0 15px 20px;
    padding: 13px 0 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 180px;

}

.crece {
	-webkit-transform: scale(1.5) !important;
	-ms-transform: scale(1.5) !important;
	transform: scale(1.5) !important;
	
	
}

.galeriap{
	margin: 60px auto 0 !important;	
}

.minimo{
	float: left;
    font-size: 13px;
}
.aceptoa{
	margin-left: 95px;
    width: 340px;
	float:left;	
}
#subir{
	float:left;
}

#cookies{
	background-color: rgba(0, 0, 0, 0.85);
    border: 0 none;
    bottom: 0;
    color: #fff;
    font-family: arial;
    height: auto;
    left: 0;
    margin: 0;
    padding: 10px 2%;
    position: fixed;
    text-align: center;
    width: 96%;	
	z-index:9999999999999;
}

#cookies p{
	 font-size: 14px;
    line-height: 18px;
    margin: 10px auto;
    width: 70%;
}
#cookies a{
	color:#fff;	
	cursor:pointer;
	font-weight:bold;
}
#cookies .btn{
	background-color: #fff;
    border-radius: 8px;
    color: #111;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto;
    padding: 9px 0;
    width: 140px;		
}
.final p{
	width:70%;	
}
@media only screen and (max-width: 810px) and (orientation:portrait){
	#cabecera{
	padding-bottom:30px;	
	}
	h1{
		font-size: 46px;
		line-height: 55px;
		margin: 0 auto 40px;
	}
	body{
		background-color: #fff;
		background-image:none;
		color: #000;
		font-size: 25px;
		line-height: 38px;
		margin: 0;
		padding: 0 !important;
		width:810px !important;
		height:auto;
		overflow:hidden;
	}
	p{
		font-size: 35px;
    	line-height: 44px;
	}
	.mini{
		font-size: 30px;
		line-height: 41px;
		font-weight: 600;	
	}
	.item #wrapper{
		width:100% !important;
		height:auto;
		background-color:#fff;
		background-image:url(../images/bg_wrapper.jpg);
		background-position: center top;
		background-repeat: no-repeat;
		background-size:100% auto;
		-webkit-box-shadow:none;
		-moz-box-shadow: none;
		box-shadow: none;
		left: 0;
		margin: 0 !important;
		top: 0;
		position:absolute;
		padding:0 !important;
	}
	.footer_desktop{
		display:none;	
	}
	.footer_mobile{
		display:block;	
	}

	.mini sup{
		font-size:15px;
	}
	.boton{
		margin: 25px auto;
		padding: 35px 0 30px;
		width: 315px;
		font-size:35px !important;
	}
	.boton2{
		margin: 0px 7px;
		padding: 15px 0 13px;
		width: 315px;
		font-size: 29px !important;
		display:inline-block;
	}
	.boton3{
		font-size: 30px !important;
		width:200px;
	}
	.boton4{
		    font-size: 30px !important;
			width: 300px;
			line-height: 0;
			padding: 30px 0;
			margin-left: 26px;
	}
	#subir2{
		display:none !important;	
	}
	
	.cropControlReset{
		left: 50px;
		position: relative;
	}
	
	.cropControlCrop {
		position: relative;
		left: 33px;
	}
	
	.miformulario {
		width: 80%;
		margin: 40px auto 20px;
	}
	.miformulario tr{
		height:75px;
	}
	
	.miformulario td{
		font-size:30px;
	    vertical-align: middle;
	}
	.miformulario .dch{

	}
	
	.miformulario input[type=text],.miformulario input[type=email]{
		width:95%;
		padding:8px 2.5%;
		font-family:"Fjalla One",verdana,arial;
		font-size: 28px;
		color:#111;
		border-radius:10px;
		border:none 0px;
		-webkit-box-shadow: inset 6px 7px 9px -7px rgba(0,0,0,0.33);
		-moz-box-shadow: inset 6px 7px 9px -7px rgba(0,0,0,0.33);
		box-shadow: inset 6px 7px 9px -7px rgba(0,0,0,0.33);
	}
	.micheck{
		    cursor: pointer;
    float: left;
    margin: 12px 16px 0 17px;
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	
	
	
	
	}
	.galeria{
		width:90%;
		height:auto;
		float:left;
		text-align:center;
		padding:60px 5% 0px;	
	}
	
	.superior{
		width:100%;
		float:left;
		height:auto;
		padding:0 0 50px;	
	}
	
	.superior h3{
		float:left;
		text-transform:uppercase;
		font-size:35px;	
		margin: 8px 0 0 0px !important;
	}
	
	.superior .buscador{
		float:right;
		width: 500px;
		padding:8px 10px;
		font-family:"Fjalla One",verdana,arial;
		font-size: 30px;
		color:#111;
		border-radius:8px;
		border:none 0px;
		-webkit-box-shadow: inset 6px 7px 9px -7px rgba(0,0,0,0.33);
		-moz-box-shadow: inset 6px 7px 9px -7px rgba(0,0,0,0.33);
		box-shadow: inset 6px 7px 9px -7px rgba(0,0,0,0.33);
		background-image:url(../images/search.jpg);
		background-position:right 2% center;
		background-repeat:no-repeat;
		background-size:auto 75%;
	}
	
	.galeria .miniaturas{
		width: 100%;
		height: auto;
		float: left;
		margin: 0 auto;
	}
	

	.item .num{
		float: left;
    font-size: 15px;
    height: 16px;
    line-height: 1;
    margin: 0;
    padding: 0 0 5px;
    text-align: right;
    width: 100%;
	}


	
	.item{
		cursor: pointer;
		float: left;
		height: auto;
		margin: 0 1.5% 25px !important;
		overflow: hidden;
		position: relative;
		top: 0;
		width: 30.3333% !important;
	}
	
	.item .imagen{
		float: left;
		height: 27vw;
		position: relative;
		top: 0;
		width: 100%;
	}
	
	.item .imagen img{
		width:100%;
		height:100%;
		float:left;	
	}
	
	.item .texto{
		background-color: rgba(255,255,255,0.8);
		color: #000;
		float: left;
		font-size: 20px;
		height: auto;
		left: 0;
		overflow: visible;
		padding: 20px 5%;
		position: relative !important;
		text-align: center;
		top: 0;
		width: 90%;
		
	}
	
	.inferior{
		width:100%;
		float:left;
		height:auto;
		padding:0px 0 0;	
	}
	.inferior p{
		margin:20px auto 10px !important;
		width:100%;	
	}
	.cropControls i{
				display:none !important;
	}
	p.error{
		border: 0 none !important;
		font-size: 33px;
		margin:10px auto !important;
	}
	.crece {
	-webkit-transform: scale(2) !important;
	-ms-transform: scale(2) !important;
	transform: scale(2) !important;
	
	
	}
	.textolegal {
		color: #000;
		float: none;
		font-size: 26px;
		height: auto;
		line-height: 40px;
		margin: 0 5%;
		padding: 0 0 30px;
		position: static;
		text-align: center;
		top: 0;
		width: 90%;
		z-index: 20;
		float: left;
	}
	.minimo{
		float: left;
		font-size: 23px;
	}
	.aceptoa{
		margin: 0 0 0 130px !important;
		width: 550px !important;
		float: left;
	}
	#subir{
		float:none;
		margin: 30px 0;
	}
	#cookies p {
		font-size: 25px;
		line-height: 40px;
		margin: 20px auto;
		width: 90%;
	}
	#cookies .btn {
		background-color: #fff;
		border-radius: 8px;
		color: #111;
		display: block;
		font-size: 33px;
		font-weight: bold;
		margin: 0 auto;
		padding: 9px 0;
		width: 210px;
	}

	.final p{
		width:90%;	
	}
	

	
}
	