<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="shortcut icon" href="imagenes/favicon.ico" type="image/x-icon">
        <title>Cascos Exclusivos con tu BigMac</title>
        <meta name="viewport" content="width=810px; user-scalable=0;">
        <meta name="description" content="" />
        <meta property="og:title" content="¡Participa con tus cascos de McDonald's!" />
        <meta property="og:description" content="Consigue una suscripción premium de Spotify y entradas para "Efecto Pasillo"." />
        <meta property="fb:app_id" content="964761096998133"/>
        <meta property="og:url" content="https://cascos.promofb.es" />
        <meta property="og:image" content="https://cascos.promofb.es/images/compartir.jpg" />
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
        <link rel="stylesheet" href="css/croppic.css" />
        <link href="css/estilos.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/croppic.js"></script>
    </head>
    <body>
      <script>

  function statusChangeCallback(response) {

    if (response.status === 'connected') {
        //  alert('Logged into your app and Facebook.111');
          $(".loginfb").hide();$(".participap").show();
         testAPI();
       } else if (response.status === 'not_authorized') {
         //alert('The person is logged into Facebook, but not your app.111');
   		FB.login(function(response) {
     		  if (response.status === 'connected') {
     		    alert('Logged into your app and Facebook.222');
          //  $(".loginfb").hide();$(".participap").show();
     		  } else if (response.status === 'not_authorized') {
     		    //alert(' The person is logged into Facebook, but not your app.222');
          //  $(".participap").hide();
     		  } else {
            window.location="https://cascos.promofb.es";
     		    //alert('The person is not logged into Facebook, so were not sure if they are logged into this app or not.');
     		  }
   		 }, {
            scope: 'email,public_profile'
        });
              //document.getElementById('status').innerHTML = 'Please log ' + 'into this app.';
       } else {
         // The person is not logged into Facebook, so we're not sure if
         // they are logged into this app or not.
         $(".participap").hide();
         //window.location="https://cascos.promofb.es";
         //alert('Please log ' +  'into Facebook.');
       }
     }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '964761096998133',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  // These three cases are handled in the callback function.
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function testAPI() {
    FB.api('/me', function(response) {
      string = response.name.split(" ");
      $("#nombre").val(string[0]);
      if(string[2]) { ape = string[1]+" "+string[2]; } else { ape = string[1]; }
      $("#apellidos").val(ape);
      $("#email").val(response.email);
      $("#fbid").val(response.id);
    });
  }
</script>
		<div id="wrapper">
			{{ include('header.html') }}
            {% block content %}
            {% endblock %}
            {{ include('footer.html') }}
            {% block legalfooter %}{% endblock %}
        </div>
    	{% block ventana %}
		{% endblock %}
            <script>
              var croppicContainerModalOptions = {
                  uploadUrl:'save-file.php',
                  cropUrl:'crop-file.php',
                  modal:false,
                  imgEyecandyOpacity:0.4,
                  rotateControls:false,
                  doubleZoomControls:false,
                  customUploadButtonId:'subir2',
                  outputUrlId:'cropOutput',
                  loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
                onAfterRemoveCroppedImg:function() { cerrarVentana3(); }
              }
              var cropContainer = new Croppic('cropContainer', croppicContainerModalOptions)
            </script>
              <script src="js/main.js"></script>
              <div id="cookies">
              	<p>Utilizamos cookies, tanto propias como de terceros, para recopilar información estadística sobre su navegación, realizar análisis propios y estadísticos. Al continuar navegando está aceptando su uso. Puede obtener más información, así como cambiar su configuración en <a href="templates/cookies.html" target="_blank">Política de cookies</a>.</p>
                <p><a class="btn" onclick="aceptar_cookies();">Aceptar</a></p>
              </div>
    </body>
</html>
