<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="imagenes/favicon.ico" type="image/x-icon">
        <title>Cascos Exclusivos con tu BigMac</title>
        <meta name="viewport" content="width=810px; user-scalable=0;">
        <meta name="description" content="" />
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="">
        <meta name="twitter:image" content="">
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
        <link rel="stylesheet" href="css/croppic.css" />
        <link href="css/estilos.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/croppic.js"></script>
    </head>
    <body>
		<div id="wrapper">
			{{ include('header.html') }}
            {% block content %}
            {% endblock %}
            {{ include('footer.html') }}
        </div>
    	{% block ventana %}
		{% endblock %}
    </body>
            <script>
              var croppicContainerModalOptions = {
                  uploadUrl:'save-file.php',
                  cropUrl:'crop-file.php',
                  modal:false,
                  imgEyecandyOpacity:0.4,
                  rotateControls:false,
                  doubleZoomControls:false,
                  customUploadButtonId:'subir2',
                  outputUrlId:'cropOutput',
                  loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
                  // onBeforeImgUpload: function(){ validate();  },
                //  onAfterImgUpload: function(){ console.log('onAfterImgUpload') },
                //  onImgDrag: function(){ console.log('onImgDrag') },
                //  onImgZoom: function(){ console.log('onImgZoom') },
                //    onBeforeImgCrop: function(){ console.log('onBeforeImgCrop') },
                // onAfterImgCrop:function(){ $("#submit4").show(); },
                // onReset:function(){ alert('reset'); },
                //  onError:function(errormessage){ console.log('onError:'+errormessage)}
              }
              var cropContainer = new Croppic('cropContainer', croppicContainerModalOptions)
            </script>
              <script src="js/main.js"></script>
</html>
