<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cookies</title>
<style>
	body{
		background-color:#fff;
		padding:50px;
		margin:0;
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;	
	}
	.wrapper{
		width:100%;
		max-width:900px;
		margin:0 auto;	
	}

</style>
</head>

<body>
<div class="wrapper">
<h1>I.- ¿QUÉ SON LAS COOKIES?</h1>
<p>Las Cookies son información en forma de texto que transfiere una página web al ordenador/Smartphone/Tablet de alguien para permitir que la página web recuerde determinada información y por consiguiente facilite el uso de la página web. Se considera Cookies, de conformidad con la Ley 34/2002 de Servicios de la Sociedad de la Información (LSSI), a cualquier tipo de archivo o dispositivo que se descarga en el equipo terminal de un usuario con la finalidad de almacenar datos que podrán ser actualizados y recuperados por la entidad responsable de su instalación. Este apartado le dará un poco más de información sobre las cookies y sobre cómo bloquearlas/eliminarlas. </p>
<p>En función de su duración las cookies pueden ser:</p>
<p>&bull; <strong>De sesión:</strong> Son un tipo de cookies diseñadas para recabar y almacenar datos mientras el usuario accede a una página web. Estas cookies no quedan almacenadas en el ordenador del usuario cuando caduca la sesión o este cierra el navegador.</p>
<p>&bull; <strong>Persistentes:</strong> Son un tipo de cookies en el que los datos siguen almacenados en el ordenador del usuario y pueden ser accedidos y tratados cuando el usuario abandona la página Web y cuando se vuelva a conectar a ella. Estas cookies pueden ser borradas en cualquier momento por el Usuario.</p>

<h1>II.- TIPOS Y FINALIDADES: </h1>
<p>La Asociación de Licenciatarios del Sistema McDonald´s en España le informa que utilizamos cookies estrictamente necesarias y también cookies persistentes de terceros para análisis propios y estadísticos, concretamente, se utilizan cookies de Facebook para recoger estadísticas anónimas de visitas y uso, como la duración, origen y destino y duración de las sesiones de navegación y otros datos estadísticos similares.</p>
<p>Puede optar para que el ordenador le advierta cada vez que se le envíe una cookie o puede optar por desactivar todas las cookies. Puede hacerlo a través de las configuraciones de su navegador. Cada navegador es distinto, por lo que probablemente necesitará echar un vistazo a su menú Ayuda. </p>

<h1>III.- DESACTIVACIÓN Y ELIMINACIÓN DE COOKIES:</h1>
<p>Todos los navegadores modernos permiten cambiar la configuración de Cookies. Estos ajustes normalmente se encuentran en las ‘opciones’ o ‘Preferencias’ del menú de su navegador. Asimismo, puede configurar su navegador o su gestor de correo electrónico, así como instalar complementos gratuitos para evitar que se descarguen los Web Bugs al abrir un email.</p>
<p>El usuario podrá -en cualquier momento- elegir qué cookies quiere que funcionen en este sitio web mediante la configuración del <strong>Navegador</strong>; por ejemplo:</p>
<p>
&bull; <strong>Chrome</strong> <a href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647" target="_blank">http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647 </a> <br />
&bull; <strong>Explorer</strong> <a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies</a><br /> 
&bull; <strong>Firefox</strong>, desde <a href="https://support.mozilla.org/t5/Cookies-y-cach%C3%A9/Habilitar-y-deshabilitar-cookies-que-los-sitios-web-utilizan/ta-p/13811" target="_blank">https://support.mozilla.org/t5/Cookies-y-cach%C3%A9/Habilitar-y-deshabilitar-cookies-que-los-sitios-web-utilizan/ta-p/13811</a><br />
&bull; <strong>Safari</strong> <a href="https://support.apple.com/kb/PH17191?locale=en_US&viewlocale=es_ES" target="_blank">https://support.apple.com/kb/PH17191?locale=en_US&viewlocale=es_ES </a><br>
&bull; <strong>Safari para IOS (iPhone, iPad)</strong> <a href="https://support.apple.com/es-es/HT201265" target="_blank">https://support.apple.com/es-es/HT201265 </a></p>

<p>La Asociación de Licenciatarios del Sistema McDonald´s en España, no se hace responsable del contenido y veracidad de las políticas de privacidad de los terceros incluidas en esta política de cookies. Asimismo, puede modificar esta Política de Cookies en función de nuevas exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha política a las instrucciones dictadas por la Agencia Española de Protección de Datos.</p>
<p>Usted podrá retirar el consentimiento inicialmente prestado en cualquier momento. En el caso en que las elimine o bloquee, es posible que ciertos servicios que necesitan su uso no estén disponibles para usted. Cuando se produzcan cambios significativos en esta Política de Cookies se comunicará al usuario mediante un aviso informativo en la página web. Si desea más información sobre qué uso hacemos de las cookies, puede enviarnos un e-mail a <a href="mailto:valentin.lopez@tbwa.com" target="_blank">valentin.lopez@tbwa.com</a> </p>
</div>
</body>
</html>
