{% extends "base.html" %}

{% block content %}
<div class="pagina final">
    <h1>¡Gracias a todos por participar!</h1>
    <p>Si has sido uno de los 1000 primeros, pronto recibirás en tu correo todo lo necesario para activar tu suscripción por un mes a Spotify&reg; Premium.</p>
    <p>Y además, si tu foto es una de las 25 más divertidas y originales, te enviaremos tu entrada doble para el concierto de Efecto Pasillo.</p>
    <p>Mucha suerte y ¡mucho ritmo!</p>
</div>
{% endblock %}


{% block ventana %}
{% endblock %}
