{% extends "base.html" %}

{% block content %}
<div class="pagina galeria" style="display:">
   		<div class="superior">
        <form action="index.php?galeria=1" method="POST" name="form3" id="form3">
        	<h3>Galería</h3>
            <input type="search" class="buscador" name="textob" id="textob" value="{{ texto }}" required placeholder="Buscar" />
        </div>
        <form>

          {% if texto != '' %}
          <div class="miniaturas">
              {% if fotos %}
              {% for foto in fotos %}
              <div class="item">
                  <div class="num">{{ loop.index0 }}</div>
                  <div class="imagen">
                      <img src="{{ foto.foto }}" />
                    </div>
                    <div class="texto">
                      {{ foto.nombre }} {{ foto.apellidos }}
                    </div>
                </div>

              {% endfor %}
          </div>
                <p><a href="index.php?galeria=1" class="boton2 azul">Ver Todo</a></p>
              {% else %}
                    <p>Lo sentimos, no hay resultados para la búsqueda realizada.</p>
                    <p><a href="index.php?galeria=1" class="boton2 azul">Ver Todo</a></p>
              {% endif %}
          {% else %}
          <div class="miniaturas">
            {% for foto in fotos %}
            <div class="item">
                <div class="num">{{ (fotos[0].total - pag) * 6 + loop.index0 + 1 }}</div>
                <div class="imagen">
                    <img src="{{ foto.foto }}" />
                  </div>
                  <div class="texto">
                    {{ foto.nombre }} {{ foto.apellidos }}
                  </div>
              </div>
            {% endfor %}
          </div>
          {% endif %}

        <div class="inferior">
        	  <p>{% if anterior != 0 %}<a href="index.php?galeria=1&pagina={{ anterior }}" class="boton2 azul" onclick="ga('send', 'event', 'Botón', ' Galeria_Atras ');">Atrás</a>{% endif %}
            {% if fotos[0].total >= siguiente %}<a href="index.php?galeria=1&pagina={{ siguiente }}" class="boton2 azul" onclick="ga('send', 'event', 'Botón', ' Galeria_Siguiente ');">Siguiente</a>{% endif %}</p>
            <p><a href="index.php" class="boton2 rojo" onclick="ga('send', 'event', 'Botón', ' Galeria_Participa ');">Participar</a></p>
        </div>
    </div>
    <script type="text/javascript">
		$("document").ready(function() {
     		 $("#cabecera").css("display","none");
		});
	</script>
{% endblock %}


{% block ventana %}
{% endblock %}
