{% extends "base.html" %}

{% block content %}
<div id="pagina1" class="pagina">
   	<h1>¡Hazte una foto con tus cascos, súbela<br /> y gana premios llenos de ritmo!</h1>
    <p>Los 1000 primeros participantes conseguirán <br />una cuenta Premium de Spotify.<p>
    <p>Las fotos más divertidas y originales darán acceso <br />al concierto que Efecto Pasillo ofrecerá en exclusiva <br />en uno de nuestros restaurantes. <br />¡30 entradas dobles!</p>
    <p class="participap"><a href="index.php?participa=1" class="rojo boton">Participar</a></p>
    <p class="loginfb">Regístrate en esta app para participar<br /> <fb:login-button  scope="public_profile,email"  onlogin="checkLoginState();" class="crece"></fb:login-button></p>
    <p><a class="azul boton" href="index.php?galeria=1">Galería</a></p>
    <p class="mini">¿Todavía no tienes los cascos? <br />Consíguelos con la compra de tu McMenú<sup>®</sup> Grande +1€</p>
</div>
{% endblock %}

{% block ventana %}
{% endblock %}
